{# templates/home.html.twig #}

{# Template de la page d'accueil de l'application #}

{% extends "base.html.twig" %}

{% block title %}{{ parent() }}
    T&amp;R{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/welcome-screen.css">
{% endblock %}
{% block main %}

    <div id="greeting-jumbo" class="jumbotron text-center">
        <h1>Agence de voyage T&amp;R</h1>
        <p>Les destinations de vos rêves</p>
    </div>

    <p>{{ welcome }}</p>
    <a href="{{ path('frontoffice_home') }}">Voir les circuits programmés</a>

{% endblock %}
{# main #}